html {
  scroll-padding-top: 50px;
}

body {
  background-color: #0a0a0a;

  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

footer {
  height: 50px;

  text-align: center;
  line-height: 50px;
}

.page {
  max-width: 1080px;
  padding-top: 50px;
  margin: 0 auto;

  box-shadow: 0 0 10px 0 #0f0f0f;
}
