.navbar__container {
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 1;
}
.navbar__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1080px;
  height: 50px;
  padding: 0 20px;
  margin: 0 auto;

  background-color: #0a0a0a;
}

.navbar__logo {
  padding: 0 10px;
  line-height: 50px;
}

.navbar__links {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -100%);

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;

  background-color: #151515;

  z-index: -1;
  transition: transform 1s;
}
.navbar__links a {
  padding: 15px 0 15px 30px;
}
.navbar__links a:hover {
  background-color: #1a1a1a;
}
.navbar__links.active {
  transform: translate(-50%, 0);
}

.navbar__toggle {
  height: 100%;
  padding: 0 10px;
}
.navbar__toggle:hover {
  background-color: #1a1a1a;
}

@media screen and (min-width: 800px) {
  .navbar__navbar {
    padding: 0 40px;
  }
  .navbar__links {
    position: unset;
    flex-direction: row;

    width: auto;
    max-width: unset;

    background-color: transparent;

    transform: unset;
    transition: unset;
    z-index: revert;
  }
  .navbar__links a {
    padding: 0 10px;
    line-height: 50px;
  }
  .navbar__links a:not(:last-child) {
    margin-right: 30px;
  }
  /* .navbar__links a, */
  .navbar__links {
    height: 100%;
  }
  .navbar__toggle {
    display: none;
  }
}
